{% extends "questions/layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block body %}

    <h1>Quiz</h1>

    <br>
    <br>

    <h3>Question Nubmer {{ index }}</h3>

    <br>
    <br>

    <form action = "{% url 'questions:quiz1' %}" method = "post">

        {% csrf_token %}

        <p>{{ question }}</p>
        <input type="radio" id="1" name="opt" value="{{ option1 }}">
        <label for="1">{{ option1 }}</label><br>
        <input type="radio" id="2" name="opt" value="{{ option2 }}">
        <label for="2">{{ option2 }}</label><br>
        <input type="radio" id="3" name="opt" value="{{ option3 }}">
        <label for="3">{{ option3 }}</label><br>
        <input type="radio" id="4" name="opt" value="{{ option4 }}">
        <label for="4">{{ option4 }}</label><br>


        <br>
        <br>

        <input type = "submit" value = "Answer">

        <br>
        <br>

    </form>

    <form action = "{% url 'questions:quiz1' %}" method = "GET">
        <input type = "submit" value = "Skip Question">
    </form>



    <br>
    <br>

    <a href = "{% url 'questions:index' %}">
        <input type = "button" value = "cancel quiz">
    </a>

    






{% endblock %}